<div class="contenedor-global" [class.visible]="isIntersecting()" [class.exiting]="isExiting()">
  <div class="contenedor-superior">
    <div class="contenedor-nombre">
      <div class="nombre-wrapper">
        <span>{{ titulo }}</span>
        <div class="nombre-barra"></div>
        <div class="nombre-barra-2"></div>
      </div>
    </div>
  </div>

  <div class="contenedor-inferior" *ngIf="proyectos.length > 0">
    <div class="carrusel-wrapper" [class.bloqueado]="efectoDireccion()">
      
      <button class="flecha-btn izq" (click)="anterior()">
        <div class="rombo-bg" [class.pulsado]="animandoIzq()">
          <span class="material-symbols-outlined">arrow_back</span>
          <div class="pulse"></div>
        </div>
        <div class="flecha-deco"></div>
      </button>

      <div class="tarjeta-y-paginacion-wrapper">
        <div class="tarjeta-carrusel" [ngClass]="efectoDireccion()">
            
          <div class="icono-header-wrapper">
            <div class="icono-header">
              <span class="material-symbols-outlined">{{ proyectos[currentIndex()].iconoPrincipal }}</span>
            </div>
          </div>

          <div class="tarjeta-header">
            <h3>{{ proyectos[currentIndex()].titulo }}</h3>
          </div>

          <div class="tarjeta-contenido">
            @for (linea of proyectos[currentIndex()].contenido; track $index) {
              @if (linea.startsWith('- ')) {
                <div class="linea-lista-proyectos">
                  <div class="puntero-rombo-proyectos"></div>
                  <span>{{ linea.slice(2) }}</span>
                </div>
              } @else {
                <p class="parrafo-proyecto">{{ linea }}</p>
              }
            }
          </div>

          <div class="tarjeta-footer">
            <div class="tecnologias-seccion">
              <div class="tech-box">
                <div class="deco-marco-tech"></div>
                <div class="deco-punto-tech-tr"></div>
                <div class="deco-punto-tech-bl"></div>
                <div class="deco-linea-der-2"></div>
                <div class="deco-linea-izq-2"></div>
                <div class="iconos-tech-wrapper">
                  <div class="icono-tech tooltip-container" *ngFor="let tech of proyectos[currentIndex()].tecnologias">
                    <img class="texto-contenido"
                        [style.width.px]="tech.tamano"
                        [style.height.px]="tech.tamano"
                        [src]="tech.iconoClase"
                        [alt]="tech.nombre" />
                    <span class="tooltip-text">{{ tech.nombre }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="enlaces-seccion">
              <div *ngFor="let link of proyectos[currentIndex()].enlaces" class="tooltip-container">
                <a [href]="link.url" target="_blank" class="icono-rombo enlace">
                  <span class="material-symbols-outlined">{{ link.iconoClase }}</span>
                </a>
                <span class="tooltip-text">
                  {{ link.iconoClase === 'data_object' ? 'Ver código' : 'Visitar web' }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="paginacion-barras">
          <div class="barra-progreso" 
               *ngFor="let p of proyectos; let i = index" 
               [class.activa]="i === currentIndex()"
               (click)="irA(i)">
          </div>
        </div>
      </div>

      <button class="flecha-btn der" (click)="siguiente()">
        <div class="rombo-bg" [class.pulsado]="animandoDer()">
          <span class="material-symbols-outlined">arrow_forward</span>
          <div class="pulse"></div>
        </div>
        <div class="flecha-deco"></div>
      </button>
      
    </div>
  </div>
</div>