<div class="contenedor-global">
  <div class="contenedor-superior">
    <div class="contenedor-nombre">
        <div class="nombre-wrapper">
            <span>Juan Ramón de León Martín</span>
            <div class="nombre-barra"></div>
            <div class="nombre-barra-2"></div>
        </div>
    </div>
    <div class="contenedor-imagen">
        <div class="frame">
            <img src="/fotoPerfil.jpg" alt="Foto de perfil" />
            <span class="corner corner-tl"><i></i></span>
            <span class="corner corner-tr"><i></i></span>
            <span class="corner corner-bl"><i></i></span>
            <span class="corner corner-br"><i></i></span>
        </div>
    </div>
  </div>
  <div class="contenedor-inferior">
    <div class="contenedor-gang">
      <span>Gang</span>
      <div class="linea-divisoria"></div>
    </div>
    <div class="contenedor-informacion">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
    </div>
  </div>
</div>
