<div class="contenedor-global">
  <div class="contenedor-superior">
    <div class="contenedor-nombre">
        <div class="nombre-wrapper">
            <span>Juan Ramón de León Martín</span>
            <div class="nombre-barra"></div>
            <div class="nombre-barra-2"></div>
        </div>
    </div>
    <div class="contenedor-imagen">
        <div class="frame">
            <img src="" alt="Foto de perfil" />
            <span class="corner corner-tl"><i></i></span>
            <span class="corner corner-tr"><i></i></span>
            <span class="corner corner-bl"><i></i></span>
            <span class="corner corner-br"><i></i></span>
        </div>
    </div>
  </div>
  <div class="contenedor-inferior">
    <div class="contenedor-gang">

    </div>
    <div class="contenedor-informacion">

    </div>
  </div>
</div>
