@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

html.lenis, html.lenis body {
  height: auto;
}

.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis-stopped {
  overflow: hidden;
}

.lenis-scrolling iframe {
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: auto !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='80'%3E%3Crect x='1' y='1' width='157' height='37' rx='2' fill='%23ffffff' stroke='%23f1f1f1' stroke-width='1.5'/%3E%3Crect x='-79' y='41' width='157' height='37' rx='2' fill='%23ffffff' stroke='%23f1f1f1' stroke-width='1.5'/%3E%3Crect x='81' y='41' width='157' height='37' rx='2' fill='%23ffffff' stroke='%23f1f1f1' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 160px 80px;
}